
<app-admin></app-admin>
<div class="card">
    <div class="card-header">
        Upload Stock Data
    </div>
    <div class="card-body">
        <h5 class="card-title">Upload current stock data</h5>
        <p class="card-text">Please refer the below link for sample upload file in .xlsx format</p>
        <a href="../../../assets/sample_stock_data_1.xlsx" class="btn btn-success mb-4">Sample Upload</a>
        <form class="form-upload">
            <div class="file-upload-wrapper">
                <input type="file" id="input-file-now" class="file-upload" required />
             </div>
            <button class="btn btn-primary mt-4" type="submit">Submit</button>
          </form>
    </div>
</div>
<app-footer></app-footer>