
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="upload" class="navbar-brand font-weight-bold name">Stock Control</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="upload" class="nav-item nav-link font-weight-bold">Import Data</a>
                <a href="manage-company" class="nav-item nav-link font-weight-bold">Manage Company</a>
                <a href="upload" class="nav-item nav-link  font-weight-bold">Manage Exchange</a>
                <a href="manage-company" class="nav-item nav-link font-weight-bold" tabindex="-1">Update Ipo</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link font-weight-bold">Logout Admin</a>
            </div>
        </div>
    </nav>
</div>

