<app-admin></app-admin>

<form class="form-signin">
  <div class="card-header">
    <h1 class="mb-2 card-title">Register new company</h1>
  </div>
    <label for="inputName" class="sr-only">Company name</label>
    <input type="text" id="inputName" class="form-control" placeholder="Company name" required autofocus>
    <label for="inputTurnover" class="sr-only">Company turnover</label>
    <input type="number" step="0.01" id="inputTrunover" class="form-control" placeholder="Company turnover" required>
    <label for="inputCeo" class="sr-only">Company ceo</label>
    <input type="text" id="inputCeo" class="form-control" placeholder="Company ceo" required autofocus>
    <label for="inputDirectors" class="sr-only">Company directors</label>
    <input type="text" id="inputCeo" class="form-control" placeholder="Company directors" required autofocus>
    <label for="inputBrief" class="sr-only">Company brief</label>
    <input type="text" id="inputBrief" class="form-control" placeholder="Company brief" required autofocus>
    <button class="btn btn-lg btn-warning btn-block" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 All rights reserved</p>
  </form>
<app-footer></app-footer>